.background-top {
    z-index: -99;
    position: fixed;
    overflow:hidden;
    height: 100vh;
    left: 40%;
    top: 65%;
}

.background-bottom {
    z-index: -99;
    position: fixed;
    overflow:hidden;
    height: 100vh;
    left: 40%;
    top: 80%;
}