<!--Navigation Bar Signed Out User-->
<header id="not-signedin">
    <div class="navigation-container">
        <a [routerLink]="['/']"><img class="logo" src="/assets/pictures/Logo.png"></a>

        <ul class="navigation-menu">
            <li class="navigation-item">
                <a class="navigation-link">My Devices</a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link" href="#mostUsedProgrammingSites">History</a>
            </li>
            <li class="navigation-item">
                <a [matMenuTriggerFor]="menu"><img class="profile" src="/assets/pictures/Icons/Profile_empty.png"></a>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item disabled>
                      <mat-icon>settings</mat-icon>
                      <span class="navigation-link">Settings</span>
                    </button>
                    <button mat-menu-item [routerLink]="['/login']">
                      <mat-icon>fingerprint</mat-icon>
                      <span class="navigation-link">Log In</span>
                    </button>
                  </mat-menu>
            </li>
        </ul>
    </div>
</header>

<!--Navigation Bar Signed In User-->
<header id="signedin">
    <div class="navigation-container">
        <a [routerLink]="['/']"><img class="logo" src="/assets/pictures/Logo.png"></a>

        <ul class="navigation-menu">
            <li class="navigation-item">
                <a class="navigation-link">My Devices</a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link" href="#mostUsedProgrammingSites">History</a>
            </li>
            <li class="navigation-item">
                <a [routerLink]="['/login']" [matMenuTriggerFor]="menu"><img class="profile" src="/assets/pictures/Icons/Profile.png"></a>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item disabled>
                      <mat-icon>settings</mat-icon>
                      <span>Settings</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>exit_to_app</mat-icon>
                      <span>Log out</span>
                    </button>
                  </mat-menu>
            </li>
        </ul>
    </div>
</header>