<app-navbar></app-navbar>
<app-background></app-background>
<div class="devices-container" id="devices">
    <div class="device-item">
        <img class="device-image" src="/assets/pictures/Icons/Temperatur.png" [routerLink]="['/devices/temp-settings']" [queryParams]="{username: currentUser}"/>
        <h1 class="device-name">Temperature</h1>
    </div>

    <div class="device-item">
        <img class="device-image" src="/assets/pictures/Icons/Light.png"/>
        <h1 class="device-name">Light</h1>
    </div>

    <div class="device-item">
        <img class="device-image" src="/assets/pictures/Icons/Shutter.png"/>
        <h1 class="device-name">Shutter</h1>
    </div>
</div>

<div class="unsigned" id="unsignedDevs">
    <h1 class="title">Please log in to get access to your devices</h1>
</div>