<app-navbar></app-navbar>
<app-background-left></app-background-left>
<div class="devices-container" id="device">
    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #drawer class="drawer-sidenav" mode="side">
            <p class="single-sensor" id="sensor-btn" (click)="selectDevice(sensor)" *ngFor="let sensor of currentDevice?.sensors">{{sensor.name}}</p>
            <button class="add-device" [routerLink]="['/settings/add-device']" [queryParams]="{user: currentUser?.account_Id}">Add Device</button>
        </mat-drawer>

        <div class="device-item">
            <img class="device-image" src="/assets/pictures/Icons/Shutter.png" (click)="drawer.toggle()"/>
            <h1 class="device-name">{{currentSensor?.name}}</h1>
            <div class="menu" id="shutterMenu">
                <mat-chip-listbox class="menu">
                    <mat-chip-option [selected]="shutterOpen" (click)="onChangeShutter()">opened</mat-chip-option>
                    <mat-chip-option [selected]="!shutterOpen" (click)="onChangeShutter()">closed</mat-chip-option>
                </mat-chip-listbox>

                <button class="set-btn" (click)="onSet()">Set</button>
            </div>
        </div>
      </mat-drawer-container>
</div>

<div class="unsigned" id="unsignedShutterSettings">
    <h1 class="title">Please log in to get access to your devices</h1>
</div>