mat-drawer-container {
    background-color: transparent;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

mat-drawer {
    background-color: black;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    line-height: 2em;
}

.drawer-container {
    height: 90vh;
    width: 100vw;
    margin-top: 2em;
  }
  
  .drawer-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .drawer-sidenav {
    padding: 20px;
  }

  .add-device {
    width: 100%;
    border: solid white;
    color: white;
    background-color: black;
    height: 5%;
    font-family: Raleway, sans-serif;
    cursor: pointer;
  }

  .toggle-btn {
    cursor: pointer;

    img {
        width: 60%;
        justify-content: center;
    }
  }

  .device-item {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    width: 33%;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.device-name {
    position: relative;
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.device-image {
    width: 60%;
}

.change-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text {
    font-family: Raleway, sans-serif;
    font-size: 20px;
}

.change-btn {
    background-color: black;
    border: solid black;
    color: white;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    margin: 4px 10px;
    cursor: pointer;
}

.set-btn {
    position: relative;
    border: solid black;
    color: white;
    background-color: black;
    width: 30%;
    height: 2rem;
    // margin: 2rem;
    font-size: large;
    cursor: pointer;
    font-family: Raleway, sans-serif;
    margin-top: 2em;
}

.title {
    position: absolute;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 3rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5em;
}

.single-sensor {
    cursor: pointer;
    margin: 0 4em 0 2em;
}